﻿@using CrmApi.Test.Models
@model Root
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CrmApi.Test</title>
</head>
<body>
    <div>
        @foreach (Account account in Model.Accounts)
        {
            <div style="background: @(account.HasContactsWithMissingInfo 
                ? "Red"
                : account.WithoutContacts
                ? "Orange"
                : "Silver");">
                <p>@account.Id</p>
                <p>@account.Name (@(account.Contacts?.Count ?? 0) contacts)</p>
                <p><i>@account.Address</i></p>
            </div>
        }
    </div>
</body>
</html>
